body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
img {
  max-width: 100%;
}
.head-title {
  /* z-index: 5; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 80px;
  height: 50vh;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /* text-shadow: 0 0 15px #e2f7a8; */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* color: #e2f7a8; */
  color: #8affb1;
  /* color: #fbfd70; */
  /* outline: 2px solid black; */
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  z-index: 2;
}
.text {
  /* z-index: 5; */
  margin: 20px auto;
  display: flex;
  align-items: center;
  /* height: 52vh; */
  /* color: #8affb1; */
  color: rgb(28, 85, 54);
  /* font-weight: 400; */
  font-weight: 500;
  font-size: 19px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding: 0 100px;
  /* text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); */
  text-shadow: 0px 1px 3px rgba(77, 77, 77, 0.2),
    0px 1px 1px rgba(99, 99, 99, 0.14), 0px 2px 1px rgba(92, 92, 92, 0.2);
}
.space {
  height: 52vh;
}
.copy {
  position: fixed;
  left: 45%;
  top: 95%;
  z-index: 12;
  font-size: 21px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: normal;
  /* color: rgb(132, 221, 191); */
  text-shadow: 0 0 15px #e2f7a8;
}
.scene {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
}
.layer {
  z-index: 2;
  position: fixed;
  left: -10%;
  top: 0;
  width: 110%;
  height: 100%;
}

.layer-bg {
  background: url("../img/parallax_bg.png") center no-repeat;
  background-size: cover;
}
.layer-1 {
  background: url("../img/parallax_layer3.png") center no-repeat;
  background-size: cover;
  top: 50px;
}
.layer-2 {
  background: url("../img/parallax_layer2.png") center no-repeat;
  background-size: cover;
  top: 25%;
  /* top: 38%; for commercial used */
  max-width: 90%;
}
.layer-3 {
  /* position: fixed; */
  z-index: 10;
  background: url("../img/parallax_layer1.png") center no-repeat;
  background-size: cover;
  top: 20%;
  /* top: 35%; for commercial used */
  max-height: 80%;
}
