body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.head-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /* text-shadow: 0 0 15px #e2f7a8; */
  font-size: 35px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* color: #e2f7a8; */
  color: #fdff98;
  /* outline: 2px solid black; */
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); */
}
.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  /* z-index: 2; */
  font-size: 12px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* font-family: "Raleway"; */
  font-style: normal;
  color: rgb(132, 221, 191);
  text-shadow: 0 0 15px #e2f7a8;
}
.scene {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
}
.layer {
  position: absolute;
  left: -10%;
  top: 0;
  width: 110%;
  height: 100%;
}

.layer-bg {
  background: url("../img/parallax_bg.png") center no-repeat;
  background-size: cover;
}
.layer-1 {
  background: url("../img/parallax_layer3.png") center no-repeat;
  background-size: cover;
  top: 50px;
}
.layer-2 {
  background: url("../img/parallax_layer2.png") center no-repeat;
  background-size: cover;
  top: 210px;
  max-width: 90%;
}
.layer-3 {
  background: url("../img/parallax_layer1.png") center no-repeat;
  background-size: cover;
  top: 200px;
  max-height: 80%;
  /* max-width: 110%; */
}
